<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Automatic Barrier System.</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/fontawesome/css/all.css">
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<div id="app">
	<div id="content">
		<div class="cams col-md-4">
			<div class="row">
				<div class="col-md-12" align="center">
					<h3>Camera Preview</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="cam-item" id="entry-cam_root">
						<i class="icon-expand fa fa-expand-arrows-alt"></i>
						<!--						<div id="entry-img" :style="'background-image:(' + entryImage + ')'"></div>-->
						<img id="entry-img" src="http://admin:admin@192.168.1.110/tmpfs/auto.jpg"
						     alt=""
						     width="100%"
						     height="100%"
						>
						<!--												<img id="entry-img" src="../assets/download.jpeg"-->
						<!--												     alt=""-->
						<!--												     width="100%">-->
						<div class="cam-text">
							<h3>
								<i class="fa fa-camera-retro"></i> ENTRY
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="cam-item">
						<i class="icon-expand fa fa-expand-arrows-alt"></i>
						<video id="exit-cam" src="#" autoplay></video>
						<div class="cam-text">
							<h3>
								<i class="fa fa-camera"></i> EXIT
							</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="settings-pane">
					<h3>
						<i class="fa fa-cogs"></i> Settings
					</h3>
				</div>
			</div>
		</div>
		<div class="activity-logs col-md-8">
			<div class="row form-group">
				<div class="col-md-12">
					<h3>Search Plate Number by Plate Code Under Each Image.</h3>
					<input v-model="search" type="search" class="form-control" placeholder="Start Typing...">
					<br>
				</div>
				<div class="col-md-12">
					<div class="activity-table table-responsive">
						<table class="table table-dark table-hover table-bordered" align="center">
							<thead>
							<tr>
								<th>SN</th>
								<th>PLATE IMAGE</th>
								<th>C-PLATE CODE</th>
								<th>TIME IN</th>
								<th>TIME OUT</th>
								<th>STATUS</th>
							</tr>
							</thead>
							<tbody>
							<tr v-for="(plate, index) in plates" :key="index">
								<td>{{index + 1}}</td>
								<td align="center">
									<img :src="plate.img" class="plate-detected"/>
									<div>
										<small><strong>Computerized Plate Code: {{plate.plate}}</strong></small>
									</div>
								</td>
								<td>
									<small>
										<strong>
											{{plate.plate}}
										</strong>
									</small>
								</td>
								<td>
									<small>
										<strong>
											{{new Date(plate.timeIn).toGMTString()}}
										</strong>
									</small>
								</td>
								<td>
									<small>
										<strong>
											{{plate.timeOut ? new Date(plate.timeOut).toGMTString() : 'NOT AVAILABLE'}}
										</strong>
									</small>
								</td>
								<td>{{plate.timeOut ? 'LOGGED OUT' : 'LOGGED IN'}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>
<!-- built files will be auto injected -->
<script src="assets/scripts/socket.io.js"></script>
<script src="assets/scripts/jquery.js"></script>
<script src="assets/scripts/html2canvas.js"></script>
<script src="assets/scripts/canvas2image.js"></script>
<!--<script src="assets/scripts/dom-to-image.min.js"></script>-->
<script src="assets/scripts/vue.js"></script>
<script src="assets/scripts/scripts.js"></script>
</body>
</html>
